@page
@model WebApp.Pages.TareasModel
@{
}
<script src="~/js/pages/tarea.js"></script>

<body>
    <br />
    <div class="tituloScroll container" id="tituloScroll1">
        <h1 class="letraVerde">Lista de Tareas</h1>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
            <table id="tblTarea" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Descripción</th>
                        <th>Prioridad</th>
                        <th>Vencimiento</th>
                        <th>Numero de Tarea</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <br />
 
</body>